/* 공통사항 */
body 				{margin-left: 0px; margin-top: 0px; margin-right: 0px;	margin-bottom: 0px;
						 	scrollbar-face-color: #E9E9E9;
							scrollbar-shadow-color: #CECECE; 
							scrollbar-highlight-color: #FFFFFF;
							scrollbar-3dlight-color: #FFFFFF; 
							scrollbar-darkshadow-color: #999999;
							scrollbar-track-color: #F2F2F2;
							scrollbar-arrow-color: #7E7E7E;
						}
td						{font-family:'굴림','Gulim'; font-size:12px; color:#595959; line-height:18px;}
img						{border:none; vertical-align:middle;}


/* a 링크관련 */
a:link, a:active, a:visited {color:#595959; text-decoration:none;}
a:hover					{ color:#ff6600; text-decoration:none;}

a.white:link, a.mn:active, a.mn:visited {color:#ffffff; text-decoration:none;}
a.white:hover 	{ color:#ffffff; text-decoration:none; }

a.gtb:link, a.gtb:active, a.gtb:visited {color:#7B8A54;  text-decoration:none;}
a.gtb:hover 	{ color:#475903;  text-decoration:underline; }

a.gt:link, a.gt:active, a.gt:visited {color:#595959;  font-size:11px;  text-decoration:none;}
a.gt:hover 	{ color:#000000;  font-size:11px; text-decoration:underline; }

a.orange:link, a.orange:active, a.orange:visited {color:#2595CA;  text-decoration:underline;}
a.orange:hover 	{ color:#FF6600;  text-decoration:underline; }


/* 텍스트 관련 */
.copy					{font-size:11px; color:#6E6E6E; font-family:'굴림','Gulim'; line-height:18px;}
.001					{font-size:12px; color:#9C345E; font-family:'굴림','Gulim'; line-height:18px;}
.002				{font-size:12px; color:#37609D; font-family:'굴림','Gulim'; line-height:18px;}
.002				{font-size:12px; color:#37609D; font-family:'굴림','Gulim'; line-height:18px;}
.tx11B					{font-size:11px; font-weight:bold;}
.tx12B					{font-size:12px; font-weight:bold;}
.tx12BR					{font-size:12px; font-weight:bold; color:#ff6600;}
.tx11B1					{font-size:11px; color:#595959; font-weight:bold;}
.tx13B					{font-size:13px; font-weight:bold;}
.tx14B					{font-size:14px; font-weight:bold;}
.txh17					{line-height:17px;}
.txh18					{line-height:18px;}
.txh20					{line-height:20px;}

/* location */
.tx11a					{font-size:11px; color:#999999; line-height:14px;} /*location*/
.tx11b_B				{font-size:11px; color:#595959; line-height:14px; font-weight:bold;}

/* Input type */
input       			{ font-size:12px; color:#666666; border:1px #CECBCE solid;}
.input2      			{ font-size:12px; color:#666666; border:none;} /* 배경색과 맞출때 : background-color:#00FF66; */
textarea 			 	{ border:1px #CECBCE solid;}
.txa11          { font-size:12px;font-family:'굴림','Gulim';letter-spacing:1px}

/* 좌우영역설정 */
.widthL					{width:10px}
.widthR					{width:60px}

/* 테이블 배경 */
.mytable {
 background-image: url(../img/sub_middle_bg.gif);
 background-repeat: no-repeat;
 background-position: bottom;
}

.diz_menu { font-size:8pt; color:#FFFFFF; font-family:Tahoma; line-height:110%; padding-top:6px; cursor:hand; font-weight:normal;}
a.diz_menu:link { font-size:8pt; color:#555555; font-family:Tahoma; line-height:110%; padding-top:6px; text-decoration:none; font-weight:normal; }
a.diz_menu:visited { font-size:8pt; color:#555555; font-family:Tahoma; line-height:110%; padding-top:6px; text-decoration:none; font-weight:normal; }
a.diz_menu:hover { font-size:8pt; color:#1375CA; font-family:Tahoma; line-height:110%; padding-top:6px; text-decoration:none; font-weight:bold; }
a.diz_menu:active { font-size:8pt; color:#555555; font-family:Tahoma; line-height:110%; padding-top:6px; text-decoration:none; font-weight:normal; }
.diz_menu_over { font-size:8pt; color:#FAB838; font-family:Tahoma; line-height:110%; padding-top:6px; cursor:hand; font-weight:bold}

/* 부메뉴 */
.diz_popmenu { font-family:돋움; font-size:9pt; color:#333333; background-color:FFFFFF; cursor:hand; padding-left:5px;}
.diz_popmenu_over { font-family:돋움; font-size:9pt; color:#FFFFFF; background-color:08246B; cursor:hand; padding-left:5px;}

/* Table css : 제품상세페이지 테이블 */
.cTABLE_ALL  	{ border-top: 2px #9fbcd4 solid; }
.cTABLE_ALL2  	{ border-top: 1px #9fbcd4 solid; }

.cd00_L  		{ padding:5 5 5 5; background-color:#FDEDCB; border-left: 1px #e4e4e4 solid; border-bottom: 1px #e4e4e4 solid;}
.cd00_R			{ padding:5 5 5 5; background-color:#FDEDCB; border-top: 1px #9fbcd4 solid; border-left: 1px #e4e4e4 solid; border-bottom: 1px #e4e4e4 solid;}
.cd00_B  		{ padding:5 5 5 5; background-color:#FDEDCB; border-left: 1px #e4e4e4; border-right: 1px #e4e4e4 solid; border-bottom: 1px #e4e4e4 solid;}
.cd00_N  		{ padding:5 5 5 5; background-color:#FDEDCB; border-bottom: 1px #e4e4e4 solid;}

.cd01_L  		{ padding:3 5 1 5; border-left: 1px #e4e4e4 solid; border-bottom: 1px #e4e4e4 solid;}
.cd01_R  		{ padding:3 5 1 5; border-right: 1px #e4e4e4 solid; border-bottom: 1px #e4e4e4 solid;}
.cd01_D  		{ padding:3 5 1 0; border-right: 1px #e4e4e4 solid; border-bottom: 1px #e4e4e4 solid;}
.cd01_B  		{ padding:3 5 1 5; border-left: 1px #e4e4e4; border-right: 1px #e4e4e4 solid; border-bottom: 1px #e4e4e4 solid;}
.cd01_N  		{ padding:3 5 1 5; border-bottom: 1px #e4e4e4 solid;}

.cd02_L  		{ padding:3 5 1 5; border-left: 1px #e4e4e4 solid; border-bottom: 1px #e4e4e4 solid;}
.cd02_R  		{ padding:3 5 1 5; border-right: 1px #e4e4e4 solid; border-bottom: 1px #e4e4e4 solid;}
.cd02_B  		{ padding:3 5 1 5; border-left: 1px #e4e4e4; border-right: 1px #e4e4e4 solid; border-bottom: 1px #e4e4e4 solid;}
.cd02_N  		{ padding:3 5 1 5; border-bottom: 1px #e4e4e4 solid;}

.cd01_L_L  		{ padding:5 4 3 4; background-color:#F9F9F9; text-align:left; color:#7B7B7B; border-right: 1px #EBEBEB solid; border-bottom: 1px #EBEBEB solid;}
.cd01_L_C  		{ padding:5 4 3 4; background-color:#F9F9F9; text-align:center; color:#7B7B7B; border-right: 1px #EBEBEB solid; border-bottom: 1px #EBEBEB solid;}
.cd01_L_R  		{ padding:5 4 3 4; background-color:#F9F9F9; text-align:right; color:#7B7B7B; border-right: 1px #EBEBEB solid; border-bottom: 1px #EBEBEB solid;}
.cd01_R_L  		{ padding:5 4 3 4; background-color:#F9F9F9; text-align:left; color:#7B7B7B; border-bottom: 1px #EBEBEB solid;}
.cd01_R_C  		{ padding:5 4 3 4; background-color:#F9F9F9; text-align:center; color:#7B7B7B; border-bottom: 1px #EBEBEB solid;}
.cd01_R_R  		{ padding:5 4 3 4; background-color:#F9F9F9; text-align:right; color:#7B7B7B; border-bottom: 1px #EBEBEB solid;}

.cd02_L_L  		{ padding:5 4 3 4; background-color:#FFFFFF; text-align:left; color:#7B7B7B; border-right: 1px #EBEBEB solid; border-bottom: 1px #EBEBEB solid;}
.cd02_L_C  		{ padding:5 4 3 4; background-color:#FFFFFF; text-align:center; color:#7B7B7B; border-right: 1px #EBEBEB solid; border-bottom: 1px #EBEBEB solid;}
.cd02_L_R  		{ padding:5 4 3 4; background-color:#FFFFFF; text-align:right; color:#7B7B7B; border-right: 1px #EBEBEB solid; border-bottom: 1px #EBEBEB solid;}
.cd02_R_L  		{ padding:5 4 3 4; background-color:#FFFFFF; text-align:left; color:#7B7B7B; border-bottom: 1px #EBEBEB solid;}
.cd02_R_C  		{ padding:5 4 3 4; background-color:#FFFFFF; text-align:center; color:#7B7B7B; border-bottom: 1px #EBEBEB solid;}
.cd02_R_R  		{ padding:5 4 3 4; background-color:#FFFFFF; text-align:right; color:#7B7B7B; border-bottom: 1px #EBEBEB solid;}

.colresize		{padding:5 5 5 5; background-color:#FDEDCB; border-top: 1px #9fbcd4 solid; border-left: 1px #e4e4e4 solid; border-bottom: 1px #e4e4e4 solid; cursor:""; }
.tab_ellipsis	{padding:5 5 5 5; background-color:#FDEDCB; border-top: 1px #9fbcd4 solid; border-left: 1px #e4e4e4 solid; border-bottom: 1px #e4e4e4 solid; overflow:hidden; text-overflow:ellipsis;}
.act_ellipsis	{padding:3 5 1 5; border-right: 1px #e4e4e4 solid; border-bottom: 1px #e4e4e4 solid; overflow:hidden; text-overflow:ellipsis; text-align:left;}
.ellipsis		{padding:0 0 0 5; border-right: 1px #e4e4e4 solid; border-bottom: 1px #e4e4e4 solid; overflow:hidden; text-overflow:ellipsis;}
.input_box		{width:expression(this.parentNode.clientWidth-8); }

.ccTit_L_C  	{ padding:5 4 3 4; background-color:#FDF8F6; text-align:center; color:#7B7B7B; border-right: 1px #EBEBEB solid; border-bottom: 1px #EBEBEB solid; font-weight: bold;}
.ccTit_R_C 		{ padding:5 4 3 4; background-color:#FDF8F6; text-align:center; color:#7B7B7B; border-bottom: 1px #EBEBEB solid; font-weight: bold;}
.cTit_L_C  		{ padding:3 5 1 5; background-color:#F6F7FD; text-align:center; color:#7B7B7B; border-right: 1px #e4e4e4 solid; border-bottom: 1px #e4e4e4 solid; font-weight: bold;}
.cTit_R_C 		{ padding:3 5 1 5; background-color:#F6F7FD; text-align:center; color:#7B7B7B; border-bottom: 1px #e4e4e4 solid; font-weight: bold;}

.input_bN      			{ font-size:12px; color:#666666; border:none;} /* 배경색과 맞출때 : background-color:#00FF66; */
.page_wrap { position:relative;padding-top:10px;z-index:1}
.page_wrap .btn_rt { position:absolute;right:0px;top:10px;z-index:1}
.page { position:relative;left:0px;padding:1px 0 0px 0;margin-bottom:0px;text-align:center;}
.page a { display:inline-block;height:13px;line-height:1em;padding:0px 1px 0px 5px; background:url(../img/common/icon_div_page.gif) no-repeat 0px 2px; font-size:10px; color:#635a4d; vertical-align:top;font-family:verdana;}
.page a:hover { color:#000;} 
.page a.on { color:#000;font-weight:bold;text-decoration:none;}
.page .btn_first,
.page .btn_last, 
.page .btn_prev,
.page .btn_next {position:relative;top:0px;display:inline-block;cursor:pointer;background:none;padding:2px 0px 0px 0px;}
.page span { display:block;text-indent:-500px;overflow:hidden;}
.page .btn_first span { width:16px;height:9px;background:url(../img/common/icon_page_first.gif) 0px 0px no-repeat}
.page .btn_last span { width:20px;height:9px;background:url(../img/common/icon_page_last.gif) 0px 0px no-repeat}
.page .btn_next span { width:16px;height:9px;background:url(../img/common/icon_page_next.gif) 0px 0px no-repeat}
.page .btn_prev span { width:16px;height:9px;background:url(../img/common/icon_page_prev.gif) 0px 0px no-repeat}